$black : #212121;
$white : #FFFFFF;
$red : #ef5350;
$yellow : #FFF176;
$green : #81C784;
$blue : #64B5F6;
$orange : #FFB74D;
$grey : #E0E0E0;
$purple : #9575CD;
$brown : #A1887F;
$pink : #F06292;

$brand : rgba(32, 166, 231, .8);