extends layout

block content
    .container.container-main
        .flex
            .card
                a(href="/norwegian")
                    img(src="/images/norway.png", alt="norway")
            .card
                a(href="/polish")
                    img(src="/images/poland.png", alt="norway")