extends layout

block content
    .container.container-main
        .flex
            each val in collections
                .card
                    a(href='/'+val.lang)
                        img(src="/images/"+val.lang+".png", alt=val.lang)